.cs-fw-500 {
    font-weight: 500;
}

.cs-fw-600 {
    font-weight: 600;
}

.cs-fw-700 {
    font-weight: 700;
}

.cs-fs-18 {
    font-size: 18px;
}

.cs-fs-20 {
    font-size: 20px;
}

.cs-fs-22 {
    font-size: 22px;
}

.cs-fs-24 {
    font-size: 24px;
}

.cs-fw-800{
    font-weight: 800;
}